%h1 All #{resource_class.to_s.pluralize}

= link_to "New #{resource_class}", new_resource_path, class: 'btn btn-large btn-info pull-right'

%table.table.table-striped
  %thead
    %tr
      %th Counsellor
      %th Room
      %th Name
      %th In
      %th Out
      %th{width: '30%'} Actions

  - collection.each do |item|
    %tr
      %td= item.room.counselor.name if item.room && item.room.counselor
      %td= item.room.name if item.room
      %td= item.name
      %td
        In:
        = item.attendances.in.count
      %td
        Out:
        = item.attendances.out.count
      %td
        = link_to 'Show', resource_path(item), class: 'btn btn-primary'
        = link_to 'Edit', edit_resource_url(item), class: 'btn btn-warning'
        = link_to 'Destroy', resource_path(item), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger'


