%h3 Bochrim Logged As 'Out'
- if @out.none?
  %p No-one was logged as 'out'.
- else
  %ul
    - @out.each do |attendance|
      - if attendance.student
        %li
          = attendance.student.name
          = " (#{attendance.student.room.name})" if attendance.student.room

%br
%br

%h3 Bochrim Not Logged At All
- if @not_logged.none?
  %p All bochrim were logged last night.
- else
  %ul
    - @not_logged.each do |attendance|
      - if attendance.student
        %li
          = attendance.student.name
          = " (#{attendance.student.room.name})" if attendance.student.room

%br
%br

%h3 Report Times
%ul
  - @reports.each do |report|
    - if report.attendances.any?
      %li
        = report.counselor.name
        began marking at
        = report.attendances.first.created_at.strftime('%l:%M %p')
        and finished at
        = report.attendances.last.created_at.strftime('%l:%M %p')
